<li class="todos__item todos__item--complete">
  <div class="todos__status">
    <%= fa_icon "check" %>
  </div>
  <div class="todos__title">
    <%= task.title %>
  </div>
  <div class="todos__tag">
    <div class="tag tag--buy">Buy</div>
  </div>
</li>