<% content_for :workspace do %>
  <div class="infobar">
    <div class="infobar__listtitle">
      <h3>New List</h3>
    </div>
    <div class="infobar__itemcount">
      
    </div>
  </div>

  <%= render 'form' %>
<% end %>