$base-font-size: 16px;

// Fonts
$font-small: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;
$font-headings: Helvetica, Arial, sans-serif;

// Spacing
$space-s: 1rem;
$space-m: 2rem;
$space-l: 4rem;

// Colors
$color-sidebar: #e8eaea;